<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src= "{{userdetails.image}}" alt="..." ></div>
            <div class="col-md-6">
                <div class="small mb-1"> ID : {{userdetails.id}}</div>
                <h1 class="display-5 fw-bolder">{{userdetails.firstName}}</h1>
                <h4> email : {{userdetails.email}}</h4>
                <h4> password : {{userdetails.password}}</h4>

                <h4> age : {{userdetails.age}}</h4>
                 <h4>contact : {{userdetails.phone}}</h4>
                 <h4> Blood Group : {{userdetails.bloodGroup}}</h4>
                 <h4> Address : {{userdetails.address.address}}</h4>
                 <h4> City : {{userdetails.address.city}}</h4>
                 <br>
                 
                      
                      
                    </div>
                  </div>
                 
               
            </div>
        
    
</section>
